<mat-toolbar-row fxHide fxShow.gt-sm class="container" fxLayout="row" fxLayout.xs="row"
    fxLayoutAlign="center center">
    <div class="main-menu" fxLayout="row" fxHide fxShow.gt-sm>

        <a mat-button class="mat-button" [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Inicio
        </a>

        <a mat-button class="mat-button" [routerLink]="['/home/products/all']" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">
            Productos
        </a>

        <a mat-button mat-button class="mat-button" [routerLink]="['/blog/blog-list']" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">
            Blog
        </a>

        <a mat-button class="mat-button" [routerLink]="['/pages/contact']" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">
            Contáctenos
        </a>

    </div>
</mat-toolbar-row>
